@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;

	--primary: #9747ff;
	--primary-dark: #7135bf;
	--primary-light: #9747ff40;
	--grey-100: #2a2a2a;
	--grey-200: #7f7f7f;
	--grey-300: #e4e4e4;
	--grey-400: #eeeeee;
	--error: #ff4e4e;
	--disabled: #00000033;
	--shadow-grey-color: rgba(0, 0, 0, 0.1);
	--rounded-xs: 2px;
}

@theme inline {
	/* Colors */
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-primary-dark: var(--primary-dark);
	--color-primary-light: var(--primary-light);
	--color-grey-100: var(--grey-100);
	--color-grey-200: var(--grey-200);
	--color-grey-300: var(--grey-300);
	--color-grey-400: var(--grey-400);
	--color-error: var(--error);
	--color-disabled: var(--disabled);

	/* Shadows */
	--shadow-focus: 0 0 0 4px var(--color-primary-light);
	--shadow-grey-dialog: 0 4px 10px 2px var(--shadow-grey-color);

	/* Rounded */
	--rounded-xs: 2px;

	/* Fonts */
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-ibm-vga), Arial, Helvetica, sans-serif;
}
